SECRET_KEY=your_SECRET_KEY_here
DEBUG=your_DEBUG_here
ALLOWED_HOSTS=your_ALLOWED_HOSTS_here

CORS_ALLOWED_ORIGINS=your_CORS_ALLOWED_ORIGINS_here
CSRF_TRUSTED_ORIGINS=your_CSRF_TRUSTED_ORIGINS_here
CORS_ALLOW_CREDENTIALS=your_CORS_ALLOW_CREDENTIALS_here

BACKEND_URL=your_BACKEND_URL_here
FRONTEND_URL=your_FRONTEND_URL_here


ACCESS_TOKEN_LIFETIME=your_ACCESS_TOKEN_LIFETIME_here
REFRESH_TOKEN_LIFETIME=your_REFRESH_TOKEN_LIFETIME_here
BLACKLIST_AFTER_ROTATION=your_BLACKLIST_AFTER_ROTATION_here

DB_NAME=your_DB_NAME_here
DB_USER=your_DB_USER_here
DB_PASSWORD=your_DB_PASSWORD_here
DB_HOST=your_DB_HOST_here
DB_PORT=your_DB_PORT_here


EMAIL_BACKEND=your_EMAIL_BACKEND_here
ANYMAIL_API_KEY=your_ANYMAIL_API_KEY_here
DEFAULT_FROM_EMAIL=your_DEFAULT_FROM_EMAIL_here
ADMIN_SUPPORT=your_ADMIN_SUPPORT_here

CLOUDINARY_CLOUD_NAME=your_CLOUDINARY_CLOUD_NAME_here
CLOUDINARY_API_KEY=your_CLOUDINARY_API_KEY_here
CLOUDINARY_API_SECRET=your_CLOUDINARY_API_SECRET_here

DEFAULT_FILE_STORAGE =your_DEFAULT_FILE_STORAGE _here

CRON_SECRET_KEY=your_CRON_SECRET_KEY_here

DATABASE_URL=your_DATABASE_URL_here
DJANGO_SUPERUSER_USERNAME=your_DJANGO_SUPERUSER_USERNAME_here
DJANGO_SUPERUSER_PASSWORD=your_DJANGO_SUPERUSER_PASSWORD_here
DJANGO_SUPERUSER_EMAIL=your_DJANGO_SUPERUSER_EMAIL_here

REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
# Paymongo Config
PAYMONGO_SECRET_KEY=
PAYMONGO_WEBHOOK_SECRET_KEY=


